/* header style */
header { position:fixed; width:var(--ls-full); height:auto; padding:1.75rem 0; z-index:9999; }
header.active {border-bottom:1px solid var(--color-gray-d); background: #fff;}
header .container {display: flex; justify-content: space-between; align-items: center; position: relative;}

header .container > * {display: flex;}
header .nav_lists {display: flex; gap:2rem;}
header .nav_lists a {font-size:var(--fs-14);}
header .nav_lists a:hover {text-decoration: underline;}
header .sns ul {display: flex; gap:1rem; }
header .sns ul a {display: block; width:20px;}
header .sns ul a img {width:var(--ls-full);}
header .logo {position: absolute; left:50%; top:50%; transform: translate(-50%, -50%);}
header .logo a {width:100px;}
header .logo a img {width:var(--ls-full);}
header .cart {margin:0 0.25rem 0 0.5rem;}
header .cart a {display: flex; align-items: center; background: var(--color-black); color:#fff; height:1.8rem; padding:0 0.5rem;
font-size:var(--fs-14); border-radius: 0.25rem; gap: 0.325rem}
header .info {align-items: center;}
.ri-user-3-fill:before {width:18px; height:18px; display: block;}
.ri-shopping-cart-line:before {display: flex; justify-content: center; align-items: center; width:22px; height:22px;}
header .cart a em {font-style:normal;}
header .cart a i {width:22px; height:22px;}
header .user {border:1px solid var(--color-black); padding:0 0.5rem; height:1.8rem; font-size:var(--fs-18); border-radius: 0.25rem;
display: flex; align-items: center;}
header .user a {display: flex; align-items: center;}
header .menu_icon {display: none;}
header .mobile_menus {display: none;}
/* main landing section style */
#main_section { padding:0; width:var(--ls-full); height:100vh; overflow: hidden; position: relative; display: flex; align-items: center; justify-content: center;}
#main_section img {width:var(--ls-full); height:100vh; object-fit: cover; min-height:768px; min-width:1020px;}
#main_section .landing_text_box { position: absolute; left:50%; top:50%; transform: translate(-45%, -50%);animation:fade_left 0.4s 1 forwards; opacity: 0;}
#main_section .landing_text_box a {display: block;}
#main_section .overlay {position:absolute; width:var(--ls-full); height:var(--ls-full);  left:0; top:0; opacity: 0.4;}
  
  @keyframes fade_left {
  from {
    transform: translate(-45%, -50%); 
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%); 
    opacity: 1;
  }
}
#main_section .landing_text_box h2 { font-size:var(--fs-title); font-weight:var(--fw-400); line-height:1.4;}
#main_section .landing_text_box p { padding:var(--el-medium) 0; width:var(--ls-1-3);}

/* slider section style */
.slider_section .container { position: relative;}
.slider_section .swiper-slide {display: flex; gap:var(--el-medium)}
.slider_section .swiper-slide > div {width:var(--ls-1-2); display: flex; align-items: center; justify-content: center; }
.slider_section .swiper-slide > div.slider_image {height:350px; border-radius: 0.5rem; overflow: hidden;}
.slider_section .swiper-slide > div.slider_image > img {width:var(--ls-full);}
.slider_section .swiper-slide > div.slider_text {display: flex; flex-direction: column; align-items: flex-start; 
  gap:var(--el-medium); transform: translateY(50px); opacity: 0;}
.slider_section .swiper-slide > div.slider_text h4 {font-size:1.8rem; font-weight: var(--fw-400);}
.slider_section .swiper-slide > div.slider_text p {font-size:var(--fs-small-text); width:90%;}
.slider_section .slider_nav {background: #fff; color:var(--color-black); width:60px; height:60px; 
  box-shadow: 0 0 2px var(--color-gray-3); border-radius: 50%;}
.slider_section .swiper-button-next:after, .slider_section .swiper-button-prev:after {font-size:1.5rem;}
.slider_section .swiper-button-prev {left:0;}
.slider_section .swiper-button-next {right:0;}
.slider_section .swiper-button-prev, .slider_section .swiper-button-next {outline: none;}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {bottom:-2.5rem;}
.swiper-pagination-bullet {width:10px; height:10px;}
.swiper-pagination-bullet-active {background: var(--color-black);}
.slider_section .swiper-slide.swiper-slide-active div.slider_text{ animation:show_up 0.4s 0.3s 1 forwards;}
@keyframes show_up {
  from{
    transform: translateY(50px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.insta_section .instar_wrapper {display: flex;}
.insta_section .instar_wrapper > div {width:var(--ls-1-3);}
.insta_section .instar_wrapper > div img {width:var(--ls-full); object-fit: cover; border-radius: 0.25rem;}
.insta_section .instar_wrapper .instar_img {display: flex; gap:0.25rem;}
.insta_section .instar_wrapper .instar_img > div {width:var(--ls-1-2);}
.insta_section .instar_wrapper .instar_img .instar_grid_2 {display: flex; flex-direction: column; gap:0.25rem;}
.insta_section .instar_wrapper .instar_left .instar_grid_1 {display: flex; align-items: center;}
.insta_section .instar_wrapper .instar_right .instar_grid_1 {display: flex; align-items: flex-end;}
.insta_section .instar_middle {display: flex; flex-direction: column; justify-content: center; align-items: center; gap:1rem;}
.insta_section .instar_middle h4 {font-size:3rem; font-weight: var(--fw-400); text-align: center;}
.insta_section .instar_middle .instar_id {font-size:var(--fs-small-text); display: flex; align-items: center; gap:0.25rem;}
.insta_section .instar_middle .instar_id i {font-size:var(--fs-20);}

footer {padding:3rem 0; width:var(--ls-full);}
footer .footer_upper {display: flex; justify-content: space-between; align-items: center;}
footer .footer_logo {width:100px;}
footer .footer_logo img {width:var(--ls-full);}
footer .footer_info {display: flex;} 
footer .footer_info > ul {display: flex;} 
footer .footer_nav a { font-size:var(--fs-small-text); padding:var(--el-medium);}
footer .footer_sns li {padding-left:1rem; }
footer .footer_sns li a {display: block; width:20px;}
footer .footer_sns li a img {width:var(--ls-full);}
footer .footer_line {width:var(--ls-full); height:1px; background:var(--color-black); margin:var(--el-medium) 0;}
footer .footer_lower {display: flex; justify-content: space-between; font-size:var(--fs-small-text); align-items: center;}
footer .footer_lower a {text-decoration: underline;}
